<h1>Карточка сотрудника</h1>
<div class="first-input-group">
  <span class="naming-number">№</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <span class="naming-group">Группа</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <br>
  <span class="naming">Фамилия</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <span class="naming-direction">Должность</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <br>
  <span class="naming-name">Имя</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <span class="naming-info">Информация 1</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <br>
  <span class="naming">Отчество</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
  <span class="naming-info2">Информация 2</span>
  <mat-form-field class="example-full">
    <input matInput type="text">
  </mat-form-field>
</div>
<div class="text-area-group">
  <textarea class="form-control"  rows="5" placeholder="Компетенция"></textarea>
  <textarea class="form-control"  rows="5" placeholder="Сертификаты"></textarea>
  <textarea class="form-control"  rows="5" placeholder="Комментарии"></textarea>
  <textarea class="form-control"  rows="5" placeholder="Примечания"></textarea>
</div>
