<div class="title">
  <h2>Освобождающиеся сотрудники</h2>
</div>
<div class="control-menu" *ngIf="AddStaff">
  <div class="col">
   <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Фильтр</button>
     <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
      <button ngbDropdownItem (click)="onSortDirection(true)" >Активные заявки</button>
      <button ngbDropdownItem (click)="onSortDirection(false)">Закрытые заявки</button>
      <button ngbDropdownItem (click)="onSortAlpha()"> В алфавитном порядке</button>
      </div>
   </div>
  </div>
<div class="col2">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Фильтр</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Фильтр4</button>
        <button ngbDropdownItem>Фильтр5</button>
        <button ngbDropdownItem>Фильтр6</button>
      </div>
    </div>
  </div>
<input class="form-control mr-sm-2" type="text" placeholder="Поиск" [(ngModel)]="name"
(keydown.enter)="search(name, isSearchByName)"/>
  <button class="btn btn-outline-primary" (click)="change()">Изменить параметры поиска</button>
  <button class="btn btn-outline-primary" (click)="toogle()">Создать сотрудника</button>
</div>
<!--        <button class="btn btn-outline-primary" (click)="openDialog()" >Создать заявку</button>-->
<div class="addPerson" *ngIf="!AddStaff">
  <p>Введите номер сотрудника:</p>
    <input [(ngModel)]="NewEmployee.number">
  <p>Введите ФИО сотрудника:</p>
    <input [(ngModel)]="NewEmployee.name">
  <p>Введите Должность сотрудника:</p>
    <input [(ngModel)]="NewEmployee.position">
  <p>С какого числа сотрудник свободен:</p>
    <input [(ngModel)]="NewEmployee.date">
  <p>Введите %:</p>
    <input [(ngModel)]="NewEmployee.procent">
  <p>Выберите статус заявки:</p>
  <mat-button-toggle-group name="fontStyle" [(ngModel)]="NewEmployee.isOpen" aria-label="Font Style">
    <mat-button-toggle [value]="true">Открыта</mat-button-toggle>
    <mat-button-toggle [value]="false" >Закрыта</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
   <div class="group">
    <button class="btn btn-outline-primary" type="submit" (click)="toogle()">Закрыть заявку</button>
    <button class="btn btn-outline-primary" type="submit" (click)=addEmployee(NewEmployee);toogle();cons()>Создать сотрудника</button>
   </div>
</div>



<div class="table" *ngIf="AddStaff">
  <table class="table"  >
    <thead >
      <tr *ngFor="let column of title">
        <th scope="col">{{column.number}}</th>
        <th scope="col">{{column.name}}</th>
        <th scope="col">{{column.position}}</th>
        <th scope="col">{{column.date}}</th>
        <th scope="col">{{column.procent}}</th>
        <th scope="col">{{column.status}}</th>

      </tr>
    </thead>
  <tbody >
    <tr (click)="kiki(row.isOpen)"  *ngFor="let row of sortedData ">
      <td>{{row.number}}</td>
      <td>{{row.name}}</td>
      <td>{{row.position}}</td>
      <td>{{row.date}}</td>
      <td>{{row.procent}}</td>
      <td [ngSwitch]="row.isOpen" [ngClass]="row.isOpen ? 'isOpen' : 'isClosed'" >
        <ng-container *ngSwitchCase="true">Открыта</ng-container>
        <ng-container *ngSwitchCase="false">Закрыта</ng-container>
      </td>
    </tr>

  </tbody>
  </table>
</div>
