<h2 mat-dialog-title>Создание заявку на вакансию</h2>
<mat-dialog-content>
  <p>Введите номер сотрудника:</p>
  <input [(ngModel)]="mass2.number">
  <p>Введите ФИО сотрудника:</p>
  <input [(ngModel)]="mass2.name">
  <p>Введите Должность сотрудника:</p>
  <input [(ngModel)]="mass2.position">
  <p>С какого числа сотрудник свободен:</p>
  <input [(ngModel)]="mass2.date">s
  <p>Введите %:</p>
  <input [(ngModel)]="mass2.procent">
  <p>Введите статус заявки:</p>
  <input [(ngModel)]="mass2.status">

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="addmass(rows,mass2)">Создать заявку</button>
</mat-dialog-actions>
