<div class="main">
  <div class="title">
<h2>Сотрудники по отделам</h2>
</div>
  <div class="control-menu">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Фильтр</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>фильтр1</button>
          <button ngbDropdownItem>Фильтр2</button>
          <button ngbDropdownItem>фильтр3</button>
        </div>
      </div>
    </div>
    <div class="col2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Фильтр</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Фильтр4</button>
          <button ngbDropdownItem>Фильтр5</button>
          <button ngbDropdownItem>Фильтр6</button>
        </div>
      </div>
    </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
  </div>
  <div class="table">
    <table class="table">
      <thead>
      <tr *ngFor="let column of headers">
        <th scope="col" >{{column.number}}</th>
        <th scope="col">{{column.name}}</th>
        <th scope="col">{{column.group}}</th>
        <th scope="col">{{column.position}}</th>
        <th scope="col">{{column.leader}}</th>
        <th scope="col">{{column.project}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td  >{{row.number}}</td>
        <td >{{row.name}}</td>
        <td >{{row.group}}</td>
        <td >{{row.position}}</td>
        <td >{{row.leader}}</td>
        <td >{{row.project}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
