
div.addPerson{
  display: block;
}
div.naming {
  width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  float: left;
}
h4 {
  line-height: 43px;
}
h2 {
  font-size: 26px;
  margin-left: 40px;
  padding-bottom: 30px;
}
div.input-group {
  width: 450px;
  position:relative ;
  margin: auto;
  float: left;
}
div.third-section {
  width: 550px;
  position: relative;
  float: left;
  margin: auto;
  padding-left: 30px;
  text-align: center;
}
div.input-groups {
  float: left;
  position: relative;
  width: 200px;
}
div.namings {
  float: left;
  position: relative;
  width: 300px;

}
.mat-button {
  font-size: 20px;
}
.example-form {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
  padding-top: 10px;

}
.example-full-width {
  width: 90%;
  margin-top: 0px ;
  margin-bottom: 0px;
}
td {
  padding-right: 8px;
}
div.dade{
  float: left;
  position: relative;
  width: 400px;
  margin-left: 30px;
  border: 1px solid black ;

}
div.buttons {
  width: 500px;
  padding: 20px;
  margin-left: 40px;
}
