<div class="title">
  <h2>Вакансии к закрытию</h2>
</div>
<div class="control-menu">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
     <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Фильтр</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onSortDirection(true)">Активные заявка</button>
        <button ngbDropdownItem (click)="onSortDirection(false)">Закрытые заявки</button>
        <button ngbDropdownItem (click)="onSortAlpha()">В алфавитном порядке</button>
      </div>
    </div>
  </div>
  <div class="col2">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Фильтр</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Фильтр4</button>
        <button ngbDropdownItem>Фильтр5</button>
        <button ngbDropdownItem>Фильтр6</button>
      </div>
    </div>
  </div>
  <input class="form-control mr-sm-4" type="search" placeholder="Поиск" aria-label="Search">
  <button class="btn btn-outline-primary" routerLink="/newvacancy" >Создать заявку</button>
</div>
<div class="table">
  <table class="table">
    <thead>
      <tr *ngFor="let column of title1">
        <th scope="col" >{{column.number}}</th>
        <th scope="col">{{column.project}}</th>
        <th scope="col">{{column.contact}}</th>
        <th scope="col">{{column.vacancy}}</th>
        <th scope="col">{{column.quantity}}</th>
        <th scope="col">{{column.date}}</th>
        <th scope="col">{{column.status}}</th>
     </tr>
    </thead>
   <tbody>
      <tr *ngFor="let row of VacancyData">
        <td >{{row.number}}</td>
        <td >{{row.project}}</td>
        <td >{{row.contact}}</td>
        <td >{{row.vacancy}}</td>
        <td >{{row.quantity}}</td>
        <td >{{row.date}}</td>
        <td >{{row.status}}</td>
        <td > <div ngbDropdown class="d-inline-block">
          <button ngbDropdownToggle><img src="assets/polygon.png"></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="changeStatusOpen(row.status)">Открыта</button>
            <button ngbDropdownItem (click)="changeStatusMeet(row.status)">Назначена встреча</button>
            <button ngbDropdownItem (click)="changeStatusFalse(row.status)">Закрыта</button>
          </div>
        </div> </td>
   </tbody>
  </table>
</div>
